<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body style="padding:30px">
    <div class="row">
        <div class="col-lg-4">
            <div style="border: 1px solid #0361ca;max-width:400px;padding:20px;background:#e1edf6;border-radius:10px;">
                <label style="font-weight: bold;"> User Id :</label> <br>
                <input type="text" class="form-control" placeholder="User Id"><br>
                <label for="" style="font-weight: bold;">Password :</label><br>
                <input type="password" class="form-control" placeholder="password"><br>
                <div style="text-align: center;">
                    <button class="btn btn-lg" style="background: lightsalmon;font-weight: 600;width: 75%;">Link Account</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div style="padding:20px;">
                <div style="font-weight: bold;margin-bottom: 10px;">Notes</div>
                <ul>
                    <li>You cannot link two accounts to same user id that are already inked:</li>
                    <li>You cannot link two accounts to same user id that are already inked:</li>
                    <li>You cannot link two accounts to same user id that are already inked:You cannot link two accounts to same user id that are already inked:</li>
                    <ul>
                        <li style=" list-style: disc; ">You cannot link two accounts to same user id that are already inked:</li>
                        <li style=" list-style: disc; ">You cannot link two accounts to same user id that are already inked:</li>
                        <li style=" list-style: disc; ">You cannot link two accounts to same user id that are already inked:</li>
                        <li style=" list-style: disc; ">You cannot link two accounts to same user id that are already inked:</li>
                        <li style=" list-style: disc; ">You cannot link two accounts to same user id that are already inked:</li>
                    </ul>
                </ul>
            </div>
        </div>
</body>

</html>